<div class="loginScreen" fxLayout="column" fxLayoutAlign="center center">
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
<mat-card class="loginCard" fxFlex="auto" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field class="" fxFlex>
            <input [(ngModel)]="credentials.username" matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field class="" fxFlex>
              <input [(ngModel)]="credentials.password" matInput type="password" placeholder="Password">
            </mat-form-field>
            <button fxFlex="auto" mat-raised-button color="primary" (click)="login()">Log In</button>
</mat-card>
</div>
</div>